{% extends 'investart/base.html' %}
{% load staticfiles %}
{% block title_block %}
  Account
{% endblock %}
{% block body_block %}
  <h2 align = center>Hey there, trendsetter!</h2>
  {% if user.is_authenticated %}
    <div align=center>
      <strong>Username:</strong><br />
      {{ user.username }}
      <br /><br />
      <strong>E-mail:</strong><br />
      {{ user.email }}
      <br /><br />
      <a href="{% url 'password_reset' %}">Change password</a>
    </div>
  {% else %}
    <div align=center>
      Please <a href="{% url 'index' %}">log in</a>
    </div>
  {% endif %}
{% endblock %}
