{% extends 'investart/base.html' %}
{% load staticfiles %}
{% block title_block %}
  Add Project
{% endblock %}
{% block body_block %}
  <h2 align=center>Add Project</h2>
  <div align=center>
    <form id="project_form" method="post" action="{% url 'add_project' %}">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        <p>
          <strong>{{ field.label_tag }}</strong><br />
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey; display: none">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <input type="submit" name="submit" value="Submit" /><br /><br />
    </form>
  </div>
{% endblock %}
