<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>
      investart -
      {% block title_block %}
        Welcome
      {% endblock %}
    </title>
    <style>
      body {
        background-color: lightblue;
        font-family: Calibri;
      }
      .overlay {
        box-shadow: inset 0px 0px 0 2000px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }
      {% block style_block %}
      {% endblock %}
    </style>
  </head>
  <body>
    <header class="overlay">
      {% if user.is_authenticated and user.is_dev %}
        <a href="{% url 'developer' %}">
          <img src="{{ MEDIA_URL}}logo.png" width = 250 />
        </a>
        <a href="{% url 'account' %}"><align=right>My Account</align></a>
        <a href="{% url 'logout' %}"><align=right>Logout</align></a>
      {% elif user.is_authenticated and user.is_inv %}
        <a href="{% url 'investor' %}">
          <img src="{{ MEDIA_URL}}logo.png" width = 250 />
        </a>
        <a href="{% url 'account' %}"><align=right>My Account</align></a>
        <a href="{% url 'logout' %}"><align=right>Logout</align></a>
      {% elif user.is_authenticated and user.is_mod %}
        <a href="{% url 'moderator' %}">
          <img src="{{ MEDIA_URL}}logo.png" width = 250 />
        </a>
        <a href="{% url 'account' %}"><align=right>My Account</align></a>
        <a href="{% url 'logout' %}"><align=right>Logout</align></a>
      {% else %}
        <a href="{% url 'index' %}">
          <img src="{{ MEDIA_URL}}logo.png" width = 250 />
        </a>
      {% endif %}
    </header>
    <main class="overlay">
      {% block body_block %}
      {% endblock %}
    </main>
    <br />
    <footer align = center class="overlay">
      <a href="{% url 'about' %}">About Us</a>
      <br /> <br />
      <a href="{% url 'contact' %}">Contact Us</a>
    </footer>
  </body>
</html>
