{% extends 'investart/base.html' %}
{% load staticfiles %}
{% load investart_template_tags %}
{% block title_block %}
  Investor
{% endblock %}
{% block body_block %}
  <h2 align=center>Welcome to your lounge!</h2>
  <div align=center>
    Here are all the projects -
    <br />
    <table style="width: 75%">
      <tr align=center bgcolor="lightblue">
        <th>Project Name</th>
        <th>Developer Email</th>
        <th>Project Website</th>
        <th>Verified</th>
      </tr>
      {% block content_block %}
        {% get_project_list project %}
      {% endblock %}
    </table>
    <br /><br />
  </div>
{% endblock %}
