{% extends 'investart/base.html' %}
{% load staticfiles %}
{% block title_block %}
  {{ project.project_name }}
{% endblock %}
{% block style_block %}
  table {
    width: 50%;
  }
  tr {
    text-align: center;
  }
{% endblock %}
{% block body_block %}
  {% if project %}
    <h2 align=center>{{ project.project_name }}</h2>
    <div align=center>
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Developer Email</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td><a href="mailto:{{ project.email }}">{{ project.email }}</a></td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Project Website</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td><a href="{{ project.project_website }}">{{ project.project_website }}</a></td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Overview</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td>{{ project.overview }}</td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Fund requirement</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td>{{ project.fund_requirement }}</td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Returns</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td>{{ project.returns }}</td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Verified</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td>{{ project.verified }}</td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Innovation Score</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td>{{ project.innovation_score }}</td>
        </tr>
      </table>
      <br />
      <table align=center>
        <tr bgcolor=lightblue>
          <th>Competition Score</th>
        </tr>
        <tr bgcolor=lightsteelblue>
          <td>{{ project.competition_score }}</td>
        </tr>
      </table>
      <br />
    </div>
  {% endif %}
{% endblock %}
