{% extends 'investart/base.html' %}
{% load staticfiles %}
{% block title_block %}
  {{ project.name }}
{% endblock %}
{% block body_block %}
  {% if project %}
    <h2 align=center>{{ project.name }}</h2>
    <div align=center>
      <strong>Name:</strong><br />
      {{ project.project_name }}
      <br /><br />
      <strong>Email:</strong><br />
      {{ project.email }}
      <br /><br />
      <strong>Website:</strong><br />
      {{ project.project_website }}
      <br /><br />
      <strong>Overview:</strong><br />
      {{ project.overview }}
      <br /><br />
      <strong>Fund requirement:</strong><br />
      {{ project.fund_requirement }}
      <br /><br />
      <strong>Returns:</strong><br />
      {{ project.returns }}
      <br /><br />
      <strong>Verified:</strong><br />
      {{ project.verified }}
      <br /><br />
      <strong>Innovation score:</strong><br />
      {{ project.innovation_score }}
      <br /><br />
      <strong>Competition score:</strong><br />
      {{ project.competition_score }}
      <br /><br />
    </div>
  {% endif %}
{% endblock %}
